<main class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Pipefui - Creating a new form</h1>

      <section style="display: flex; column-gap: 1.5rem; align-items: stretch;">
        <fieldset style="flex: 3">

        <%= form_for :form, url: form_index_path, html: {class: 'registering-form'} do |form| %>
          <%= render "shared/form_preview", title: 'Untitled Form', fields: @fields, form: form %>

          <br />

          <%= form.submit  %>
        <% end  %>
        </fieldset>
        <fieldset>
        <%= form_with url: add_field_form_index_path do |form| %>
          <input type="text" name="field[name]" required placeholder="Título da pergunta" />

          <select name="field[field_type]" required>
            <option value="" disabled selected>Selecione...</option>
            <option value="text">Texto Curto</option>
            <option value="textarea">Texto Longo</option>
          </select>

          <button type="submit" class="add-field">Add Field</button>
        <% end %>
        </fieldset>
      </section>
    </div>
  </div>
</main>
