<input type="text" name="field[name]" required placeholder="Título da pergunta" />

<%= render 'shared/select_field_type', name: select_input_name, selected_type: '' %>

<button type="submit" class="add-field">Add Field</button>
